<div class="header">
    <a href="#default" class="logo">Staff Dashboard</a>
    <div class="header-right">
      <a  routerLink= "/staffdashboard">Home</a>
      <a routerLink= "/product">Products</a>
      <a routerLink= "/order">Place_Order</a>
      <a routerLink= "/customer">Customer</a>
      <a routerLink= "/">Logout</a>

  
      <br>
      <br>

      <div class="search-container">
        <form>
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search">go</i></button>
        </form>
      </div>
  
    </div>
  </div>
  